<a href="https://colab.research.google.com/github/rakhmatAI/DataScience_pandas/blob/main/_2_2_2_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### 2.2.2 `DataFrame` ma'lumotlar tuzilmasi

`DataFrame` tartibli ustunlardan iborat, ikki o'lchovli (jadval ko'rinishidadi) ma'lumotlar tuzilmasi. Har bir ustun bir turdagi ma'lumotlarni saqlaydi (sonlar, matnlar, Boolean va hokazo). `DataFrame` ustunlari ham qatorlari ham indekslangan bo'ladi. Umuman olganda `DataFrame`ni bir nechta `Series`dan iboirat lug'atlar deb tasavvur qilishimiz mumkin.

In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame

`DataFrame` yaratishning bir nechta usuli bor va bulardan eng osoni qiymatlari bir hil uzunlikdagi ro'yxatdan iborat lug'at orqali yaratish.

In [ ]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [ ]:
data

{'Yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
 'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
 'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}

Lug'atdan `DataFrame` yaratishda har bir qator indekslanadi (`0,1,2...`), ustunlar ketma-ketligi esa lug'atdagi ketma-ketlikka bog'liq bo'ladi. Ustunlar ketma-ketligini berishni istasak `DataFrame` yaratishda `columns` parametrini ham ko'rsatib ketishimiz mumkin:

In [35]:
df = pd.DataFrame(data, columns=['Yil','Temp','Aholi soni', 'YAIM'], index=[21, 20, 19, 18, 17, 16, 15, 10])
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

1-Usul faqatgina ustun nomi bir so'zdan iborat, Python o'zgaruvchi talablariga javob bergan holda ishlaydi. 

Ahamiyat bering, ajratib olingan ustunlar indeksi va ustun nomi saqlanib qoladi

Yuqoridagi usul bilan biz ustundagi barcha elementlarga qiymat berishimiz mumkin:

In [36]:
aholi = df['Aholi soni']

In [37]:
aholi

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [38]:
type(aholi)

pandas.core.series.Series

Huddi `Series` kabi `DataFrame` indekslariga ham o'zimiz qiymat berishimiz mumkin:

In [49]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1550
18  2018  1.62        32.5  1500
17  2017  1.65        31.9  1480
16  2016  1.66        31.4  1420
15  2015  1.64        30.9  1340
10  2010  1.53        28.5  1300

In [39]:
df.Temp

21    1.54
20    1.48
19    1.56
18    1.62
17    1.65
16    1.66
15    1.64
10    1.53
Name: Temp, dtype: float64

In [40]:
df.YAIM = 0
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9     0
20  2020  1.48        33.5     0
19  2019  1.56        32.9     0
18  2018  1.62        32.5     0
17  2017  1.65        31.9     0
16  2016  1.66        31.4     0
15  2015  1.64        30.9     0
10  2010  1.53        28.5     0

In [41]:
val = pd.Series([1700, 1650, 1300], index=[21, 17, 10])
df.YAIM = val

In [42]:
df

     Yil  Temp  Aholi soni    YAIM
21  2021  1.54        33.9  1700.0
20  2020  1.48        33.5     NaN
19  2019  1.56        32.9     NaN
18  2018  1.62        32.5     NaN
17  2017  1.65        31.9  1650.0
16  2016  1.66        31.4     NaN
15  2015  1.64        30.9     NaN
10  2010  1.53        28.5  1300.0

In [43]:
val = [1700, 1650, 1550, 1500, 1480, 1420, 1340, 1300]
df.YAIM = val
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1550
18  2018  1.62        32.5  1500
17  2017  1.65        31.9  1480
16  2016  1.66        31.4  1420
15  2015  1.64        30.9  1340
10  2010  1.53        28.5  1300

In [44]:
df['1500+'] = df.YAIM>1500

In [46]:
df

     Yil  Temp  Aholi soni  YAIM  1500+
21  2021  1.54        33.9  1700   True
20  2020  1.48        33.5  1650   True
19  2019  1.56        32.9  1550   True
18  2018  1.62        32.5  1500  False
17  2017  1.65        31.9  1480  False
16  2016  1.66        31.4  1420  False
15  2015  1.64        30.9  1340  False
10  2010  1.53        28.5  1300  False

In [47]:
del df['1500+']

In [48]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1550
18  2018  1.62        32.5  1500
17  2017  1.65        31.9  1480
16  2016  1.66        31.4  1420
15  2015  1.64        30.9  1340
10  2010  1.53        28.5  1300