<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Pandas/blob/main/data_useful_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy Intellekt Praktikum
## 3-MODUL. MAâ€™LUMOTLARGA ISHLOV BERISH
3.2 Ma'lumotlarni tozalash va tayyorlash

In [ ]:
import numpy as np
import pandas as pd

# Foydali funksiyalar

In [8]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [9]:
df.describe() # bu yerda ko'rganizdek age - mean, min, va max qiymatlar xaqiqatga yaqin emas

               age
count   100.000000
mean    145.660000
std     565.631411
min     -85.000000
25%      22.750000
50%      53.500000
75%      84.250000
max    4444.000000

In [10]:
df[df.age > 123].index # nega 123 age tarixda eng yuqori yosh bo'lgan. Biz u yoshdan yuqorilarini indexlarini ko'rib olamiz

Int64Index([3, 39, 47, 49, 65, 80, 100], dtype='int64', name='id')

In [11]:
df[df.age < 0].index # va min qiymatlarda -85 qiymatni ko'rdik, endi biz 0 dan kichik qiymatlarniham indexlarini ko'rib olamiz

Int64Index([11, 19, 21, 33, 38, 90], dtype='int64', name='id')

`apply` - function orqali biz uning ichida funksiya yozamiz va apply uni qo'llaydi

In [14]:
df['age'] = df['age'].apply(np.abs) # abs - obsolyut qiymatlarni olamiz ya'ni age'dagi (-) qiymatlarni hammasini (+) ga o'zgartiramiz

In [16]:
df[df.age < 0] # check qilamiz 0 dan kichik qiymatlar bor yoki yo'qligini

Empty DataFrame
Columns: [first_name, last_name, email, gender, age]
Index: []

### *Katta qiymatlarni esa nima qilamiz?*


*   Agar biz uni tozalay olmasak, drop ya'ni tashlab yuboramiz

In [19]:
idx = df[df.age > 123].index # saqlab oldik, va indexlarini olamiz
idx

Int64Index([3, 39, 47, 49, 65, 80, 100], dtype='int64', name='id')

In [20]:
df.drop(index=idx, inplace=True) # idx - qiymatlarni tashlab yubordik, va inplace=TRUE orqali joyida saqlab olamiz
df

   first_name   last_name                           email       gender  age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary    1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male   91
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid    6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female   48
6       Glynn      Ebbing          gebbing5@rakuten.co.jp  Genderfluid   77
..        ...         ...                             ...          ...  ...
95      Byron  Whittleton   bwhittleton2m@theatlantic.com   Non-binary    2
96       Baxy       Marcu        bmarcu2n@list-manage.com      Agender   64
97     Kattie     Claxson          kclaxson2o@booking.com       Female   18
98       Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender   55
99  Desdemona     Jurasek        djurasek2q@aboutads.info  Genderfluid   46

[93 rows x 5 columns]

In [21]:
df.describe()

              age
count   93.000000
mean    52.612903
std     29.978265
min      1.000000
25%     29.000000
50%     52.000000
75%     77.000000
max    100.000000

### Jadvalga qarasak *gender* ustunida, xar hil biz bilmagan jins'lar bor ekan, va tadqiqot uchun kerak bo'lmasa olib tashlaymiz.

In [22]:
df.gender.value_counts() # gender - ustunidagi value_counts() ni ko'rsak xar hil turdagi genderlar bor

Male           21
Bigender       12
Genderfluid    11
Female         11
Non-binary     10
Genderqueer    10
Agender         9
Polygender      9
Name: gender, dtype: int64

In [23]:
df = df[df.gender.isin(['Male', 'Female'])]

In [24]:
df

   first_name     last_name                         email  gender  age
id
2     Pietrek       Scanlin        pscanlin1@yolasite.com    Male   91
5    Mohammed    Habbershon  mhabbershon4@sourceforge.net  Female   48
10      David      Meredyth    dmeredyth9@telegraph.co.uk  Female   68
12  Raffaello     Firminger     rfirmingerb@bloomberg.com  Female   74
17      Byram   Martynikhin     bmartynikhing@jiathis.com    Male   40
19      Luisa     Bradborne          lbradbornei@fema.gov  Female   75
22        Ray         Padly           rpadlyl@twitpic.com    Male   85
26   Ephrayim    Westmacott         ewestmacottp@ning.com    Male   77
29      Biron      Acklands        backlandss@comsenz.com    Male   13
33   Ebenezer       Greeves         egreevesw@myspace.com    Male   26
34     Brooks          Vose             bvosex@amazon.com  Female   34
36        Axe       Arundel           aarundelz@yahoo.com  Female   14
43       Bili     Swetenham        bswetenham16@europa.eu    Male   23
46     Alvira  Stollsteiner     astollsteiner19@mysql.com    Male   66
58     Brynna        Worsom              bworsom1l@wp.com    Male   66
61       Page       Merrell     pmerrell1o@slideshare.net    Male    1
62     Kennan         Visco          kvisco1p@jiathis.com  Female   94
63   Adrianne       Gommowe  agommowe1q@deliciousdays.com    Male  100
67     Bunnie        Ozanne      bozanne1u@whitehouse.gov    Male   92
70      Ambur        Aickin           aaickin1x@about.com    Male   60
72   Eleanora       Kamenar       ekamenar1z@examiner.com    Male   47
74      Curry    Smalecombe  csmalecombe21@washington.edu    Male   69
76      Misty         Blanc         mblanc23@amazon.co.jp    Male   74
77     Rudolf        Kalewe           rkalewe24@fotki.com    Male   12
81       Alex         Darth    adarth28@ezinearticles.com  Female   98
86    Rogerio          Akid           rakid2d@latimes.com  Female    3
87      Peder        Murrie       pmurrie2e@bloglovin.com    Male   69
88       Kain     Dumphries  kdumphries2f@hugedomains.com    Male   93
90  Zachariah         Meins          zmeins2h@weather.com    Male   69
91      Judas        Maffin         jmaffin2i@dropbox.com    Male    3
94     Sheree        Cockin     scockin2l@accuweather.com  Female   94
97     Kattie       Claxson        kclaxson2o@booking.com  Female   18